@media screen and (max-width: 1024px) {
    video {
        margin-inline-start: -23px;
        margin-bottom: 729px;
    }

    #fechar {
        padding-bottom: 953px;
        margin-inline-start: 335px;
    }

    .descricao {
        margin-bottom: 700px;
    }

    #fechar2 {
        padding-bottom: 900px;
        margin-inline-start: 469px;
    }
    
}

@media screen and (max-width:768px){
    nav {
        padding-inline-start: 96px;
    }

    .titulo {
        font-size: 46px;
    }

    .botoes {
        display: flex;
    }

    video {
        margin-inline-start: -174px;
        margin-bottom: 323px;
        width: 86%;
    }

    .descricao {
        margin-bottom: 380px;

    }

    #fechar2 {
        padding-bottom: 649px;
        margin-inline-start: 337px;
    }
    .fechar {
        background: none;
        border: none;
        font-size: 13px;
        color: white;
    }

    #fechar {
        padding-bottom: 538px;
        margin-inline-start: 260px;
    }
}

@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    header .logo {
        margin-left: 235px;
    }   

    nav {
        padding-inline-start: 206px;
    }

    .busca {
        right: 9%;
    }

    header nav a {
        font-size: 10px;
        margin-right: 12px;
    }

    .filme-principal{
        font-size: 12px;
        height: 400px;
    }

    .botao{
        margin-top: 68px;
        width: 123px;
        font-size: 10px;
    }

    
    .video {
        margin-bottom: 350px;
    }
}

@media screen and (max-width:645px) {
    .busca{
        display: none;
    }
}

@media screen and (max-width: 540px) {
    header .logo{
        margin-left: 157px;
        padding-inline-end: 28px;
    }
    
    header nav{
        padding-inline-start: 160px;
    }

    .titulo {
        font-size: 32px;
        margin-bottom: -54px;
    }

    .botoes {
        display: flex;
    }

    .video {
        margin-top: 300px;
    }

    #fechar {
        margin-inline-start: 175px;
        padding-bottom: 486px;
    }

    .descricao {
        margin-top: 41px;
        margin-bottom: 373px;
    }

    #fechar2 {
        margin-inline-start: 225px;
        padding-bottom: 583px;
    }
}

@media screen and (max-width:727px){
    .busca {
        display: none;
    }
}

@media screen and (max-width:701px){
    .tipo {
        display: none;
    }
}

@media screen and (max-width:539px) {
    video {
        width: 88%;
        margin-inline-start: -69px;
        margin-top: 109px;
    }

    #fechar {
        margin-inline-start: 249px;
        padding-bottom: 419px;
    }

    .descricao {
        margin-top: 141px;
        margin-bottom: 366px;
    }

    #fechar2 {
        margin-inline-start: 211px;
        padding-bottom: 494px;
    }
}